
.black {
    background-color: #000;
}

.field {
    width: 20px;
    height: 20px;
}

.grey {
    background-color: grey;
}

.show_circle {
    background-color: red;
    border-radius: 50%; /* Делает элемент круглым */
  }